# Default owner
* @naderbenmimoun

# Platform configuration
/.github/ @naderbenmimoun

# Application code
/src/ @naderbenmimoun

# Tests
/test/ @naderbenmimoun

# Deployment configuration
/deploy/ @naderbenmimoun